{% extends 'meetups/base.html' %}
{% load static %}

{% block page_title %}All Meetups{% endblock page_title %}
{% block css_files %}
    <link rel="stylesheet" href={% static 'meetups/all-meetups.css' %}>
{% endblock css_files %}

    {% block main_heading %}Browse All Meetups{% endblock main_heading %}
    {% block header_content %}<p>Find the one which suits you!</p>{% endblock header_content %}
    {% block content %}
    <section>
        <h2>Upcoming Meetups</h2>
        <ol>
            {% for meetup in meetups %}
                <li class="meetup-item">
                    {% include 'meetups/includes/meetup-item.html' with title=meetup.title location=meetup.location slug=meetup.slug %}
                </li>
            {% endfor %}
        </ol>
    </section>
{% endblock content %}